/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    /*color: inherit;*/
}

a.organizer {
    color: inherit;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    position: relative;
    height: 100vh; /* Adjust to your preference */
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
}

.cover-image {
    width: 100%;
    height: 100%;
    background-image: url('./img/cover.jpg'); /* Replace with your cover image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tutorial-info {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
}

nav {
    position: sticky;
    top: 0;
    background-color: #444;
    color: #fff;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    padding: 10px 0 10px 20px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

main {
    padding: 30px 40px 20px 40px;
}

section {
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
}

.organizer {
    text-align: center;
    margin-bottom: 20px;
}

.organizer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.organizer img {
    width: 125px; /* Fixed width */
    height: 125px; /* Fixed height */
    object-fit: cover; /* Maintain aspect ratio and crop if necessary */
    border-radius: 10%;
    display: block; /* Ensures the image is centered */
    margin: 0 auto; /* Centers the image horizontally */
}
